body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color:sandybrown;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1, footer p {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.formacao h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.formacao article {
    margin-bottom: 20px;
}

.formacao h3 {
    color: #555;
    margin: 0;
}

.formacao p {
    color: #777;
    margin: 5px 0 0 0;
}
